* {
  box-sizing: border-box;
}
/*---------------------------------VARIABLES----------------------------------*/
:root {

  /*----------COLORS-------------------*/
  --text-color-base: #000;
  --title-color: #ff7373;
  --effect-color: #ff9696;
  /*---------FONT SIZE-----------------*/
  --title-size: 60px;
  --link-size: 23px;
}

/*----------------------------------HOVER EFFECTS-----------------------------*/
.link-span:hover {
  color: var(--effect-color);
}

#this-page {
  color: var(--effect-color);
}

/*---------------------OVERALL FEATURES---------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color-base);
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--title-color);
}

.header-first-row {
    font-size: var(--title-size);
    border-bottom: 5px solid var(--title-color);
    padding-bottom: 10px;
}

.header-second-row {
  font-size: var(--link-size);
  padding-top: 10px;
}

.internal-link {
  padding-left: 6px;
}

/*--------------------------PAGE-LAYOUT---------------------------------------*/
.page {
  display: grid;
  position: relative;
  grid-template-rows: auto auto;
  max-width: 1000px;
  min-height: 100vh;
  margin: 30px auto auto auto;
}

/*-------------------------INDEX----------------------------------------------*/

.content {
  display: grid;
  grid-template-rows: auto auto auto;
}

.uppertext1, .uppertext2, .bottomtext {
  font-size: 20px;
  text-align: justify;
}

.uppertext1 {
  padding: 40px 40px 0 40px;
}

.uppertext2 {
  padding: 0 40px 40px 40px;
}

.bottomtext {
  padding: 40px;
  margin-bottom: 60px;
}

.uppertext1 {
  font-style: italic;
}

.gallery {
  max-height: 100%;
  grid-template-rows: 20% 80%;
  margin: 10px auto auto auto;
}

.title {
  padding-left: 2%;
}

.slide {
  margin: auto;
  height: 95vw;
  width: 95vw;
}

img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

/*------------------------FOOTER----------------------------------------------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--title-color);
}

.footer-text {
  text-align: center;
  color: #fff;
}

                            /* Fade-in and Fade-out effects */
.fade {
animation: fadeInOut ease 2s;
-webkit-animation: fadeInOut ease 2s;
-moz-animation: fadeInOut ease 2s;
-o-animation: fadeInOut ease 2s;
-ms-animation: fadeInOut ease 2s;
}
@keyframes fadeInOut {
  0%, 100% {opacity:0;}
  20%, 80% {opacity:1;}
}

@-moz-keyframes fadeInOut {
  0%, 100% {opacity:0;}
  20%, 80% {opacity:1;}
}

@-webkit-keyframes fadeInOut {
  0%, 100% {opacity:0;}
  20%, 80% {opacity:1;}
}

@-o-keyframes fadeInOut {
  0%, 100% {opacity:0;}
  20%, 80% {opacity:1;}
}

@-ms-keyframes fadeInOut {
  0%, 100% {opacity:0;}
  20%, 80% {opacity:1;}
}

                                  /* Media queries */

@media only screen and (min-width: 500px) {

  .slide {
    margin: auto;
    height: 400px;
    width: 600px;
  }

  .gallery {
    margin: auto;
  }


}
