* {
  box-sizing: border-box;
}
/*---------------------------------VARIABLES----------------------------------*/
:root {

  /*----------COLORS-------------------*/
  --text-color-base: #000;
  --title-color: #ff7373;
  --effect-color: #ffc7c7;
  --card-color: #efefef;
  /*---------FONT SIZE-----------------*/
  --title-size: 40px;
  --link-size: 16px;
  --text-size: 13px;
}

/*----------------------------------HOVER EFFECTS-----------------------------*/
.link-span:hover, .page-switch:hover {
  color: var(--effect-color);
}

#this-page {
  color: var(--effect-color);
}

.card, .close-button, #invia-button {
  cursor: pointer;
}

/*---------------------OVERALL FEATURES---------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color-base);
}

a {
  text-decoration: none;
  color: var(--title-color);
}

.text {
  font-size: var(--text-size);
  text-align: justify;
}

.header-first-row {
    font-size: var(--title-size);
    border-bottom: 5px solid var(--title-color);
}

.header-second-row {
  font-size: var(--link-size);
  margin-top: 5px;
}

.internal-link {
  padding-left: 6px;
}

.content {
margin: 40px 10px 20px 10px;
}

h1 {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--title-color);
}

.footer-text {
  text-align: center;
  color: #fff;
  font-size: var(--text-size);
}

/*--------------------------PAGE-LAYOUT---------------------------------------*/
.page {
  display: grid;
  position: relative;
  grid-template-rows: auto auto auto;
  margin: auto;
  width: 90vw;
  min-height: 100vh;
}

/*-------------------------INDEX----------------------------------------------*/

.index-content {
  display: grid;
  max-width: 100%;
  grid-template-rows: auto auto auto;
}

.uppertext2 {
  margin-bottom: 40px;
}

.bottomtext {
  margin: 40px auto 60px auto;
}

.uppertext1 {
  font-style: italic;
}

.gallery {
  max-height: 100%;
  grid-template-rows: 20% 80%;
  margin: auto;
}

.index-image {
  margin: auto;
  width: 270px;
  height: 230px;
  object-fit: cover;
}

/*--------------------------------AUTOBIOGRAFIA-------------------------------*/
.autobiografia-content {
  max-width: 1000px;
}

.autobiografia-page {
  display: grid;
  grid-template-rows: auto auto;
}

.image-text {
  font-size: var(--text-size);
  text-align: center;
  margin: auto;
}

.autobiografia-image {
  margin: auto;
  width: 270px;
  height: 230px;
  object-fit: cover;
}

.image-item-left, .image-item-right {
  display: grid;
  margin: 10px auto 10px auto;
}

.autobiografia-page-counter {
  display: flex;
  margin: 10px auto 50px auto;
}

.page-switch {
  background: none;
  border: none;

}

.page-switch-current {
  color: var(--title-color);
}



/*--------------------------------OPERE---------------------------------------*/

.section-title {
  font-family: inherit;
}

.opere-content {
  display: grid;
  grid-template-rows: auto auto auto;
  padding-bottom: 60px;
}

.opere-anno {
  display: grid;
  grid-template-rows: auto auto;
}

.opere-tema {
  margin-top: 60px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-rows: 80% 20%;
  margin: 20px;
  padding: 20px;
  height: 270px;
  width: 250px;
  background-color: var(--card-color);
}

.card-title {
  margin: auto;
}

.card-sample-page {
  display: grid;
  grid-template-rows: auto auto auto;
}

#disclaimer {
  margin-top: 60px;
  margin-bottom: 60px;
}

.card-sample-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-sample {
  height: 250px;
  width: 250px;
  background-color: var(--card-color);
  margin: 20px;
  padding: 20px;
  object-fit: cover;
}

.card-sample-image {
  max-width: 250px;
  max-height: 250px;
}

.close-button {
  width: 60px;
  float: right;
  padding: 5px;
  border: solid 2px;
  border-radius: 5px;
  background: none;
  border-color: var(--title-color);
  color: var(--title-color);
}



/*--------------------------------CONTACT-------------------------------------*/


.form-container {
  width: 400px;
  float: left;
  margin-bottom: 60px;
}

.form-width {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-style {
  background: none;
  background-color: none;
  border: solid 1px;
  border-radius: 5px;
}

#invia-button {
  float: right;
  padding: 5px;
  border: solid 2px;
  border-color: var(--title-color);
  color: var(--title-color);
}



/*--------------------Fade-in and Fade-out effects ---------------------------*/
.fade {
animation: fadeInOut ease 3s;
-webkit-animation: fadeInOut ease 3s;
-moz-animation: fadeInOut ease 3s;
-o-animation: fadeInOut ease 3s;
-ms-animation: fadeInOut ease 3s;
}
@keyframes fadeInOut {
  0%, 100% {opacity:0;}
  15%, 85% {opacity:1;}
}

@-moz-keyframes fadeInOut {
  0%, 100% {opacity:0;}
  15%, 85% {opacity:1;}
}

@-webkit-keyframes fadeInOut {
  0%, 100% {opacity:0;}
  15%, 85% {opacity:1;}
}

@-o-keyframes fadeInOut {
  0%, 100% {opacity:0;}
  15%, 85% {opacity:1;}
}

@-ms-keyframes fadeInOut {
  0%, 100% {opacity:0;}
  15%, 85% {opacity:1;}
}


/*----------------------------------Media queries---------------------------- */

@media only screen and (min-width: 500px) {

  /*---------VARIABLES-------------*/
  :root {

    --title-size: 90px;
    --link-size: 23px;
    --text-size: 20px;
  }

  /*---------PAGE-LAYOUT-----------*/
  .page {
    max-width: 1000px;
  }

  .header-second-row {
    font-size: var(--link-size);
    margin-top: 10px;
  }

  .content {
  margin: 70px 50px 70px 50px;
  }

  /*---------INDEX-----------------*/

  .index-image {
    height: 400px;
    width: 600px;
  }

  .gallery {
    margin: 20px auto auto auto;
  }

  /*---------AUTOBIOGRAFIA---------*/
  .autobiografia-image {
    width: auto;
    height: auto;
  }

  .image-item-left {
    float: left;
    margin: 30px 30px 30px 0;
  }

  .image-item-right {
    float: right;
    margin: 30px 0 30px 30px;
  }



}
